<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Muthoobi web app">
    <meta name="keywords" content="muthoboi, ebook, rokomari">
    <meta name="author" content="Abdul Halim">
    <title>Muthoboi</title>
    <link rel="icon" href="../dist/images/icon_muthoboi.png" type="image/png" />
    <link rel="stylesheet" href="../dist/css/app.bundle.css" />
</head>
<body>

    <header id="header-section">
        <section class="header__content">
            <div class="header__content--wrapper">
                <a href="" class="logo"><img src="../dist/images/logo.png" alt="logo" class="img-fluid" /></a>
                <p class="welcome-text">Welcome to MuthoBoi,</p>
                <h1 class="title">Largest eBook Store in Bangladesh</h1>
                <p class="text">Collect your favorite eBooks of your favorites Authors, Categories or Publications. You can check some free eBooks for reader experience.</p>
                <div class="btn__app">
                    <a href="http://bit.ly/32qGDGl" target="_blank" class="btn btn__app--download"><img src="../dist/images/icon_google_play.png" alt="icon" class="img-fluid mr-1" /> Download Now</a>
                </div>
            </div>
            <div class="header__content--img">
                <img src="../dist/images/mobile_display.png" alt="logo" class="img-fluid" />
                <img src="../dist/images/screenshot1.jpg" alt="screenshot" class="img-fluid img-screenshot" />
            </div>
        </section>
    </header>

    <main id="main-section">
        <div class="main__section">

            <section class="main__section--feature">
                <div class="container">
                    <div class="card">
                        <h1 class="title">MuthoBoi at a Glance</h1>
                        <div class="feature__wrapper d-flex align-items-center">
                            <div class="feature__wrapper--item">
                                <div class="circle"></div>
                                <p>Books at Your Fingertips</p>
                            </div>
                            <div class="feature__wrapper--item">
                                <div class="circle"></div>
                                <p>Read Books in Your Own Way</p>
                            </div>
                            <div class="feature__wrapper--item">
                                <div class="circle"></div>
                                <p>Secure Payment System</p>
                            </div>
                        </div>
                        <div class="feature__wrapper d-flex align-items-center mt-n4">
                            <div class="feature__wrapper--item">
                                <div class="circle"></div>
                                <p>Take Your Library in Your Pocket</p>
                            </div>
                            <div class="feature__wrapper--item">
                                <div class="circle"></div>
                                <p>Native Innovation & Native Technology</p>
                            </div>
                            <div class="feature__wrapper--item">
                                <div class="circle"></div>
                                <p>Easy-Share with Families</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="main__section--info">
                <div class="d-flex align-items-center">
                    <div class="img-wrapper">
                        <img src="../dist/images/mobile_display.png" alt="image" class="img-fluid" />
                        <div id="carouselExampleIndicators" class="carousel slide position-absolute" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../dist/images/screenshot1.jpg" alt="screenshot" class="img-fluid img-screenshot" />
                                </div>
                                <div class="carousel-item">
                                    <img src="../dist/images/screenshot2.jpg" alt="screenshot" class="img-fluid img-screenshot" />
                                </div>
                                <div class="carousel-item">
                                    <img src="../dist/images/screenshot3.jpg" alt="screenshot" class="img-fluid img-screenshot" />
                                </div>
                                <div class="carousel-item">
                                    <img src="../dist/images/screenshot4.jpg" alt="screenshot" class="img-fluid img-screenshot" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <h1 class="title">Simply download your desired eBook</h1>
                        <p class="text">Simply download your desired eBook with a Single Click. From Book details section, user can purchase books by pressing "Buy Now" and then after completing successful purchase by SSL payment gateway, start downloading it. For free books, users can directly download the books by pressing "Download" button.</p>
                        <div class="btn__app">
                            <a href="http://bit.ly/32qGDGl" target="_blank" class="btn btn__app--download"><img src="../dist/images/icon_google_play.png" alt="icon" class="img-fluid mr-1" /> Download Now</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="main__section--action">
                <div class="action-wrapper d-flex align-items-center">
                    <h1 class="title mr-0">Download Latest Version of the app</h1>
                    <div class="btn__app ml-4">
                        <a href="http://bit.ly/32qGDGl" target="_blank" class="btn btn__app--download"><img src="../dist/images/icon_google_play.png" alt="icon" class="img-fluid mr-1" /> Download Now</a>
                    </div>
                </div>
            </section>

            <section class="main__section--screenshot text-center">
                <h1 class="title">App Screenshot</h1>
                <p class="description">From this app, you can purchase eBook very low price comparing with hardcopy Books. Enjoy the MuthoBoi eBook app anywhere like- Travel time, Restaurants, While waiting in Traffic Jam & also the users from abroad, who didn't get books in a short period of time, now can get the eBook form of that book in a moment within a minimal price.</p>
                <div class="screenshot-wrapper d-flex align-items-center container-fluid">
                    <img src="../dist/images/screenshot2.jpg" alt="icon" class="img-fluid js--img-basic" />
                    <img src="../dist/images/screenshot3.jpg" alt="icon" class="img-fluid js--img-basic" />
                    <img src="../dist/images/mobile_display.png" alt="icon" class="img-fluid special" />
                    <div id="carouselExampleIndicators2" class="carousel slide position-absolute" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../dist/images/screenshot1.jpg" alt="screenshot" class="img-fluid js--img-screenshot" />
                            </div>
                            <div class="carousel-item">
                                <img src="../dist/images/screenshot2.jpg" alt="screenshot" class="img-fluid js--img-screenshot" />
                            </div>
                            <div class="carousel-item">
                                <img src="../dist/images/screenshot3.jpg" alt="screenshot" class="img-fluid js--img-screenshot" />
                            </div>
                            <div class="carousel-item">
                                <img src="../dist/images/screenshot4.jpg" alt="screenshot" class="img-fluid js--img-screenshot" />
                            </div>
                            <div class="carousel-item">
                                <img src="../dist/images/screenshot5.jpg" alt="screenshot" class="img-fluid js--img-screenshot" />
                            </div>
                        </div>
                    </div>
                    <img src="../dist/images/screenshot4.jpg" alt="icon" class="img-fluid js--img-basic" />
                    <img src="../dist/images/screenshot5.jpg" alt="icon" class="img-fluid js--img-basic" />
                </div>
            </section>

        </div>
    </main>

    <footer id="footer-section">
        <div class="footer__section--wrapper text-center">
            <img src="../dist/images/icon_muthoboi.png" alt="logo" class="img-fluid" />
            <p class="text-muted small pt-2">প্যাকেটে নয়, এখন বই থাকবে পকেটে!</p>
            <div class="action-wrapper d-flex align-items-center">
                <h1 class="title mr-0">Download Latest Version of the app</h1>
                <div class="btn__app ml-3">
                    <a href="http://bit.ly/32qGDGl" target="_blank" class="btn btn__app--download"><img src="../dist/images/icon_google_play.png" alt="icon" class="img-fluid mr-1" /> Download Now</a>
                </div>
            </div>
                <p class="text-dark mt-4 mr-0 mb-4">admin@muthoboi.com</p>
                <a href="http://bit.ly/37WEHX3" class="ml-3" target="_blank"><i class="fa fa-facebook"></i></a>
            <p class="copyright">&copy; 2012-2020 Rokomari.com</p>
        </div>
    </footer>

    <script src="../dist/js/app.bundle.js" defer></script>

</body>
</html>